%% -*- erlang -*-

{erl_opts, [debug_info,
            warnings_as_errors,
            warn_untyped_records]}.

{xref_checks, [undefined_function_calls]}.

{deps, [{hackney, "1.*",
         {git, "git://github.com/benoitc/hackney.git", {tag, "1.4.7"}}},
        {jsx, "2.*",
         {git, "https://github.com/talentdeficit/jsx.git", {tag, "v2.7.1"}}},
        {parse_trans, "2.*",
         {git, "https://github.com/uwiger/parse_trans.git", {tag, "2.9.2"}}},
        {edown, ".*",
         {git, "https://github.com/uwiger/edown.git", "2f6d4d4649"}}]}.

{edoc_opts, [{doclet, edown_doclet},
             {stylesheet, ""},
             {image, ""},
             {src_path, "src"},
             {sort_functions, false},
             {pretty_printer, erl_pp},
             {preprocess, true}]}.
